body {
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

.centerText{ 
  position: absolute;
  top: 44%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 90px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: aliceblue;
  opacity: 0.6;
  
}

.navbar-span{
  margin: 30px;
}